/** CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/** Custom Scrollbar */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #e847ae;
  border-radius: 50px;
}

body::-webkit-scrollbar-track {
  background-color: #3b27ba;
}

/** Navbar */
.navbar {
  background-color: #3b27ba;
}

/** Hero */
.jumbotron {
  height: 80vh;
  margin: 0 auto;
  padding: 2rem 3rem;
  background-color: #3b27ba;
  color: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
}

.jumbotron .hero_text {
  width: 50%;
  margin: 3rem 2rem;
  padding: 3rem 3rem;
}

.jumbotron .hero_text h1 {
  text-transform: uppercase;
}

.jumbotron .hero_text .btn {
  margin-top: 1.2rem;
  background-color: #f1f1f1;
  color: #000;
  border-radius: 10px;
}

.jumbotron .hero_text .btn:hover {
  background-color: #e847ae;
  color: #f1f1f1;
}

.jumbotron .hero_img {
  width: 35%;
  margin: 2rem 2rem;
}

/** Waves */
.waves {
  width: 100%;
}
