/** CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f1f1f1;
  color: #000;
}

/** Custom Scrollbar */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #e847ae;
  border-radius: 50px;
}

body::-webkit-scrollbar-track {
  background-color: #3b27ba;
}

section {
  padding-top: 5rem;
}

/** Navbar */
.navbar {
  background-color: #3b27ba;
}

/** Hero */
.hero {
  height: 80vh;
  margin: 0 auto;
  padding: 2rem 3rem;
  background-color: #3b27ba;
  color: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
}

.hero .hero_text {
  width: 50%;
  margin: 3rem 3rem;
  padding: 2rem 1rem;
}

.hero .hero_text h1 {
  text-transform: uppercase;
}

.hero .hero_text .btn {
  margin-top: 1.2rem;
  background-color: #f1f1f1;
  color: #000;
  border-radius: 5px;
}

.hero .hero_text .btn:hover {
  background-color: #e847ae;
  color: #f1f1f1;
}

.hero .hero_img {
  width: 32%;
  margin: 2rem 2rem;
}

/** Waves */
.waves1 {
  margin-top: -1rem;
  margin-bottom: -3rem;
  width: 100%;
}

.waves2 {
  margin-bottom: -1rem;
  width: 100%;
}

.waves3 {
  margin-top: -1rem;
  width: 100%;
}

.waves4 {
  margin-bottom: -1rem;
  width: 100%;
}

/** About Us */

.about_card {
  margin: 2rem;
  padding: 1rem;
  background-color: #ececec;
  color: #3b27ba;
  border-top: 5px solid #3b27ba;
  border-bottom: 1px solid #3b27ba;
  border-left: 1px solid #3b27ba;
  border-right: 1px solid #3b27ba;
}

.about_card:hover {
  border-top: 5px solid #e847ae;
  border-bottom: 1px solid #e847ae;
  border-left: 1px solid #e847ae;
  border-right: 1px solid #e847ae;
}

.about_card img {
  margin-bottom: 1rem;
}

/** Carousel  */

.product {
  background-color: #3b27ba;
}

.carousel-item {
  height: 90vh;
  border: 10px solid #3b27ba;
}

.carousel-item img {
  width: 100%;
  object-fit: cover;
}

.carousel-caption {
  font-weight: bolder;
  color: #d6eb1d;
}

/** Contact  */

.btn_contact {
  padding: 0.5rem 2rem;
  background-color: #3b27ba;
  color: #f1f1f1;
  border-radius: 5px;
}

.btn_contact a {
  text-decoration: none;
  color: #f1f1f1;
}

.btn_contact:hover {
  background-color: #e847ae;
  color: #f1f1f1;
}

/** Finds us maps  */
.maps {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: -2rem;
}

/** Footer  */
.footer {
  background-color: #1f1f1f;
}

.copy {
  color: #3b27ba;
}

/** Dark mode  */
.dark-mode {
  background-color: #0f0f0f;
  color: #f1f1f1;
}

.btn_dark {
  padding: 0.5rem;
  background-color: #3b27ba;
  color: #f1f1f1;
  border-radius: 5px;
}

/** Mobile Responsive */
@media only screen and (max-width: 1000px) {
  .hero_img {
    display: none;
  }

  .carousel-item {
    height: 100%;
  }

  .maps {
    width: 100%;
    height: 100%;
  }
}
