/** CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** Navbar */
.navbar {
  background-color: #3b27ba;
}

/** Hero */
.jumbotron {
  height: 90vh;
  padding: 8rem 8rem;
  background-color: #3b27ba;
  color: #f1f1f1;
}

.hero {
  width: 40%;
  position: relative;
  top: -10rem;
  left: 35rem;
}

.btn {
  background-color: #f1f1f1;
  color: #000;
  margin-top: -18rem;

  &:hover {
    background-color: #e847ae;
    color: #f1f1f1;
  }
}

/** Waves */
.waves {
  width: 100%;
}
